*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F2F2F2;
}
.index_logo{
	position: absolute;
	height: 50px;
	width: 50px;
	display: inline-block;
}
#ctf_container{
	display: grid;
	grid-template-rows:50px 1fr 100px;
	grid-template-columns: repeat(5,1fr);
	min-height: 100vh;
}
.ctf_header{
	grid-column: 1/6;
	grid-row: 1/2;
	background: #4A4B48;
}
.ctf_footer{
	grid-row:3/4;
	grid-column:1/6 ;
	background: #2C2F34;
}
.ctf_footer_p{
	text-align: center;
	line-height: 100px;
	color: white;
}